
SHamil_Munchaev,_Viktor_Ustinov_Istoriya_Rossii_BookSee_org (1).pdf
config/models/Llama-2-7b-chat-hf
config/models/Llama-2-7b-chat.Q4_0
config/model_encoder/llama-2-7b-chat.Q4_0.gguf
https_coderbooks_ruPython_и_машинное_обучение.pdf
SHamil_Munchaev,_Viktor_Ustinov_Istoriya_Rossii_BookSee_org.pdf
Sinelnikov_R_D_-_Atlas_anatomii_cheloveka_v_3-h_tomah.pdf
